<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="backArea">
        <div class="switchMode">
            <div>
                <p>Login</p>
            </div>
            <div>
                <p>Register</p>
            </div>
        </div>
        <div class="loginArea">
            <div>
                <p>Username</p>
                <input type="email" name="email">
            </div>
            <div>
                <p>Password</p>
                <input type="password">
            </div>
            <div>
                <button>Login</button>
            </div>
        </div>
        <div class="registerArea">
            <div>
                <p>Username</p>
                <input type="email" name="email">
            </div>
            <div>
                <p>Password</p>
                <input type="password">
            </div>
            <div>
                <p>Enter password again</p>
                <input type="password">
            </div>
            <div>
                <button>Register</button>
            </div>
        </div>
        <div class="resultArea">
            <p></p>
        </div>
    </div>
</body>
<script src="login.js"></script>
</html>